.container{
    max-width: 80%;
    margin: auto;
    margin-top: 70px;
}
.container .slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .slider-img{
    width: 289px;
    height: auto;
    border-radius: 40px;
    overflow: hidden;
}
.container .slider-img img{
    overflow: hidden;
    width: 100%;
}
.container .arrow{
    padding: 25px;
}
#leftArrow img{
    transform: rotate(180deg);
}
.slider-img img{
    display: none;
}
.slider-img img:first-child{
    display: block;
}